<p>
  quotes works!
</p>
<p>Quotes by: {{ quoteAuthor.name }}</p>
<a href [routerLink]="['../../authors']">Home</a>
<a href [routerLink]="['../../write', quoteAuthor._id]">Add a quote</a>

<div *ngFor="let quote of quoteAuthor.quotes" >
  <p *ngIf="quote">
    Quote: {{quote.quote}} Votes: {{quote.rank}}
  </p>
  <form (submit) = "onDelete(quote._id)" class="postForm">
      <input type="submit" value="Delete" />
  </form>
  <form (submit) = "onVote(quote._id, 'up')" class="postForm">
      <input type="submit" value="Vote Up" />
  </form>
  <form (submit) = "onVote(quote._id, 'down')" class="postForm">
      <input type="submit" value="Vote Down" />
  </form>

</div>
